<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- index.js 추가 // src/main/resources/static 를 기본경로로 정적파일(js,css,img 등)을 찾음 -->
<script src="/js/app/index.js"></script>
</body>
</html>